.Container-1{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    width: 40%;
    height: 100vh;
    z-index: 100;
}

.Button-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 200px;
    background-image:  url('\\Assets\\Food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Button-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image:  url('\\Assets\\Drink.jpg');
    width: 100%;
    height: 200px;
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}