.Button_background{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('Assets\\kleo-background.jpg');
    background-size: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
 
}
.Backdrop{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.15;
}
.Title{
    padding :80px;
    z-index: 10;
    font-size: 48px;
    color: #0db8b2;
    font-family: Arvo;
}



.Title {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1.25);
              transform: scale(1.25);
    }
  }
  