.Button_background{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('\\Assets\\kleo-background.jpg');
    background-size: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
}